.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.856);
  border-radius: 12px;
  border: 1px solid rgba(56, 56, 56, 0.377);
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 0 10px 0 rgba(255, 74, 255, 0.842),
    0 4px 20px 0 rgba(208, 126, 255, 0.5);
  transition: all 0.3s ease;
}

.organizer {
  color: #00668d !important;
}

@media screen and (max-width: 960px) {
  .card {
    width: 45% !important;
  }
}

@media screen and (max-width: 540px) {
  .card {
    width: 100% !important;
  }
}
