nav {
  background: rgba(2, 2, 27, 0.95);
  /* border: 1px solid yellow; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
}

a {
  color: #fff !important;
  text-decoration: none !important;
}

.nav-items {
  height: 60px;
  padding: 10px 0;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.nav-item {
  height: 100%;
  /* border: 1px solid yellow; */
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.nav-item:hover {
  background: rgba(253, 200, 48, 0.7);
  color: #000428;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.nav-item:active {
  background: rgba(253, 200, 48, 0.7);
  color: #000428;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.logo {
  font-size: 1.5rem;
  color: white;
  /* border: 1px solid yellow; */
  font-weight: 400;
  letter-spacing: 1px;
  font-weight: 500;
  width: 50%;
  cursor: pointer;
}

.logo2 {
  color: #f37335;
}
